$mobile-size: 480px;
$mobile-size-max: 767px;
$tablet-size: 768px;
$tablet-size-max: 1199px;
$desktop-size: 1200px;

$mobile-gap: 10px;
$tablet-side-indent: 30px;
$desktop-side-indent: 40px;

$white: #ffffff;
$orange: #f89448;
$black: #000000;
$grey: #d3d3d2;
