$mobile-size-min: 320px;
$mobile-size: 480px;
$mobile-size-max: 767px;
$tablet-size: 768px;
$tablet-size-max: 1199px;
$desktop-size: 1200px;

$mobile-gap: 10px;
$tablet-gap: 20px;
$desktop-gap: 30px;

$white: #ffffff;
$orange: #f89448;
$yellow: #fbb81f;
$black: #000000;
$grey: #d3d3d2;
