.custom-input {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding-right: 15px;
  padding-left: 15px;

  border: 1px solid $grey;
  border-radius: 9px;

  transition: border-color 0.3s ease-in;

  &::placeholder {
    color: $black;

    opacity: 0.5;
  }

  &:hover {
    border-width: 2px;
  }

  &:focus {
    color: $orange;

    border-width: 2px;
    border-color: $orange;
    outline: none;

    &::placeholder {
      color: $orange;

      opacity: 1;
    }
  }
}
