.game-options {
  display: none;
  box-sizing: border-box;
  padding-top: 20px;
  padding-right: $desktop-gap;
  padding-bottom: 25px;
  padding-left: $desktop-gap;

  background-color: $white;
  border-radius: 12px;
}

.game-options--show {
  display: block;
}

.game-options__fruits-desc {
  @include p-reset;

  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1.3;
}

.game-options__fruits-list {
  @include list-reset;

  display: flex;
  justify-content: flex-start;
}

.game-options__fruits-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20%;
  margin-bottom: 15px;

  img {
    margin-bottom: 10px;
  }

  input {
    display: none;
  }

  label {
    position: relative;

    padding-top: 35px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: calc(50% - 15px);

      box-sizing: border-box;
      width: 30px;
      height: 30px;

      border: 2px solid $grey;
      border-radius: 2px;

      transition: border-color 0.3s ease-in;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: calc(50% - 10px);

      display: none;
      width: 25px;
      height: 25px;

      background-image: url("../img/checkbox-checked.svg");
      background-repeat: no-repeat;
      background-size: 20px;
    }

    &:hover,
    &:focus {
      outline: none;

      &::before {
        border-color: #34c03f;
      }
    }
  }

  input:checked + label {
    &::after {
      display: block;
    }
  }
}

.game-options__difficult-desc {
  @include p-reset;

  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1.3;
}

.game-options__difficult-list {
  @include list-reset;

  display: flex;
}

.game-options__difficult-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20%;
  margin-bottom: 20px;

  input {
    display: none;
  }

  label {
    position: relative;

    padding-top: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: calc(50% - 13px);

      box-sizing: border-box;
      width: 26px;
      height: 26px;

      border: 2px solid $grey;
      border-radius: 50%;

      transition: border-color 0.3s ease-in;
    }

    &::after {
      content: "";
      position: absolute;
      top: 6px;
      left: calc(50% - 7px);

      display: none;
      width: 14px;
      height: 14px;

      background-color: #34c03f;
      border-radius: 50%;
    }

    &:hover,
    &:focus {
      outline: none;

      &::before {
        border-color: #34c03f;
      }
    }
  }

  input:checked + label {
    &::after {
      display: block;
    }
  }
}

.game-options__start-btn {
  margin-right: auto;
  margin-left: auto;
}

.game-options__desc {
  @include p-reset;

  margin-bottom: 20px;

  font-size: 25px;
  line-height: 1.3;
  text-align: center;
}

.game-options__score {
  @include p-reset;

  margin-bottom: 30px;

  font-size: 20px;
  line-height: 1.3;
}

.game-options__continue-btn {
  margin-bottom: 20px;
}

.game-options--looser {
  width: 320px;
}

.game-options--looser-show {
  display: block;
}

.game-options--winner {
  width: 320px;
}

.game-options--winner-show {
  display: block;
}
