.game__field {
  display: flex;
  flex-grow: 1;
  max-width: 700px;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  background-color: $orange;
  background-image: url("../img/game-field-bg.jpg");
  background-repeat: round;
}

.game__field--gaming {
  background-color: #d11919;
  background-image: url("../img/game-field-bg-gaming.png");
  background-size: 25px;
  position: relative;
}

.game__start-btn {
  margin: auto;
}

.game__options {
  margin: auto;
}

.game__self-score {
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 20px;
  line-height: 1.3;
  color: $grey;
  display: none;
}

.game__self-score--show {
  display: block;
}

.game__timer {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 20px;
  line-height: 1.3;
  color: $grey;
  display: none;
}

.game__timer--show {
  display: block;
}

@media (min-width: $desktop-size) {
  .game {
    width: 700px;
    flex-shrink: 0;
  }
}
