.levels {
  padding-right: $mobile-gap;
  padding-left: $mobile-gap;
}

.levels__title {
  margin-top: 20px;
  margin-bottom: 8px;
}

.levels__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.levels__item {
  margin-top: 15px;
  margin-left: 20px;
}

@media (min-width: $tablet-size) {
  .levels {
    padding-right: $tablet-gap;
    padding-left: $tablet-gap;
  }
}

@media (min-width: $desktop-size) {
  .levels {
    width: 380px;
    margin-top: -15px;
    padding-right: 0;
    padding-left: 0;
  }
}
