@media (max-width: $mobile-size-max) {
  .main-nav {
    display: none;
  }

  .main-nav--show {
    display: block;
  }

  .main-nav__list {
    @include list-reset;
  }

  .main-nav__item {
    a {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;

      font-size: 21px;
      line-height: 30px;
      text-align: center;
      color: #ffff00;
      text-decoration: none;

      background-color: $orange;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $black;

      transition: opacity 0.3s ease-in;

      &:hover,
      &:focus {
        outline: none;
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}

@media (min-width: $tablet-size) {
  .main-nav {
    display: flex;
    flex-grow: 1;
  }

  .main-nav__list {
    @include list-reset;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-top: -2px;
  }

  .main-nav__item {
    a {
      text-decoration: none;
      color: $yellow;
      font-size: 23px;
      line-height: 30px;
      font-weight: 400;

      &:hover,
      &:focus {
        outline: none;
        color: darken($yellow, 10);
      }

      &:active {
        color: darken($yellow, 15);
      }
    }
  }
}
