.modal-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 30px;
  height: 30px;
  padding: 0;

  background-color: #c91717;
  border: none;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    left: 3px;
    top: calc(50% - 1px);

    width: 25px;
    height: 3px;

    background-color: $white;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    left: 3px;
    top: calc(50% - 1px);

    width: 25px;
    height: 3px;

    background-color: $white;
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $mobile-size) {
  .modal-close-btn {
    top: 10px;
    right: -45px;
  }
}
