@media (max-width: $mobile-size-max) {
  .page-header {
    background-color: #98cb31;
  }

  .page-header__container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: $mobile-gap;
    padding-bottom: 10px;
    padding-left: $mobile-gap;

    line-height: 0;
  }

  .page-header__logo {
    img {
      display: block;
    }
  }
}
