@media (max-width: $mobile-size) {
  .records {
    padding-right: $mobile-gap;
    padding-left: $mobile-gap;
  }

  .records__table,
  .records__table thead,
  .records__table tbody,
  .records__table th,
  .records__table td,
  .records__table tr {
    display: block;
  }

  .records__table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .records__table td {
    position: relative;

    padding-left: 50%;

    border-bottom: 1px solid #eeeeee;
  }

  .records__table td:before {
    position: absolute;
    top: 2px;
    left: 6px;

    width: 45%;
    padding-right: 10px;

    white-space: nowrap;
  }


  .records__table td:nth-of-type(1):before {
    content: "№";
  }
  .records__table td:nth-of-type(2):before {
    content: "Ник";
  }
  .records__table td:nth-of-type(3):before {
    content: "Дата";
  }
  .records__table td:nth-of-type(4):before {
    content: "Счет";
  }

  .records__table tr:nth-of-type(2n) {
    background-color: $grey;
  }

  .records__difficult {
    padding-right: 0;
    padding-left: 0;

    font-size: 18px;
    line-height: 1.3;
    text-decoration: underline;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
    }

    &--hard {
      color: #e03e2b;
    }

    &--medium {
      color: $yellow;
    }

    &--easy {
      color: #41cc32;
    }
  }

  .records__difficult--no-table {
    padding-right: 5px;
    padding-left: 5px;

    font-size: 23px;
    line-height: 1.3;
  }

  .records__difficult--table {
    display: none;
  }

  .records__table tbody .records__me {
    background-color: rgba(255, 253, 92, 0.5);
  }
}


@media (min-width: $mobile-size + 1) {
  .records {
    padding-right: $mobile-gap;
    padding-left: $mobile-gap;
  }

  .records__table {
    width: 100%;

    border-collapse: collapse;

    tr {
      td:nth-child(2) {
        padding-left: 5px;

        text-align: left;
      }

      td:nth-child(3) {
        width: 100px;
      }

      td:nth-child(4) {
        width: 130px;
      }
    }

    th {
      font-size: 20px;
      line-height: 1.3;
      text-align: center;

      border: 1px solid $black;
    }

    td {
      text-align: center;

      border: 1px solid $black;
    }
  }

  .records__number {
    width: 50px;
  }

  .records__difficult--no-table {
    display: none;
  }

  .records__difficult {
    padding-right: 0;
    padding-left: 0;

    font-size: 18px;
    line-height: 1.3;
    text-decoration: underline;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
    }

    &--hard {
      color: #e03e2b;
    }

    &--medium {
      color: $yellow;
    }

    &--easy {
      color: #41cc32;
    }
  }

  .records__table thead tr {
    height: 35px;

    background-color: lighten($blue, 20);
    color: $white;
  }

  .records__table tr:nth-of-type(2n) {
    background-color: lighten($grey, 10);
  }

  .records__table tbody .records__me {
    background-color: rgba(255, 253, 92, 0.5);
  }
}

@media (min-width: $tablet-size) {
  .records {
    padding-right: $tablet-gap;
    padding-left: $tablet-gap;
  }

  .records__number {
    width: 10%;
  }

  .records__date {
    width: 20%;
  }

  .records__score {
    width: 25%;
  }
}

@media (min-width: $desktop-size) {
  .records {
    box-sizing: border-box;
    width: $desktop-size;
    margin-right: auto;
    margin-left: auto;
    padding-right: $desktop-gap;
    padding-left: $desktop-gap;
  }
}
