@media (min-width: $desktop-size) {
  .sections-wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: $desktop-size;
    margin-right: auto;
    margin-left: auto;
    padding-right: $desktop-gap;
    padding-left: $desktop-gap;
  }
}
